.form {
    position: absolute;
    left:37%;
    top: 25%;
    z-index: 1;
   // background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #fc9730;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,
  .form button:active,
  .form button:focus {
    background: #ff8100;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    text-decoration: none;
  }
  
  #pos{
    top:62%;
  }
  #hage{
        width: 20%;
    }
  #hphn{
        width: 78%;
    }
  @media only screen and (min-device-width : 300px) and (max-device-width : 700px)  {
    #pos{
      top:60%;
    }
    #hage{
        width: 30%;
    }
    #hphn{
        width: 65%;
    }
    .text-box {
      width: 90%;}
  }